extends layout

block content

  div(class='form')
    h1= title
    form(action='/search/', method='post')
        input(type='text', name='stocknumber' placeholder='Stock number: ')

        br
        input(type='text', name='registrationplate' placeholder='Registration plate:')

        br
        input(type='submit', value='Submit')
  if(location)
    section
      div(style='margin-left: 5%; margin-top: 10%;')
        .previewCard(style='margin-left: 20px; padding:0; border-width: 0px;display: inline-block')
          img.image(src='#{location}'+'/350/f')
          .previewCard.dropshadowme(style='color: grey;  border-width: 0px; width: 100%; height: 100%; ')
            h3  Description
      div(style='margin-left: 5%; margin-top: 10%;')
        .previewCard(style='margin-left: 20px; padding:0; border-width: 0px;display: inline-block')
          img.image(src='#{location}'+'/350/r')

          .previewCard.dropshadowme(style='color: grey;  border-width: 0px; width: 100%; height: 100%; ')
            h3  Description
