body {
  /*background: url('glasgo.jpg') no-repeat center center fixed; background-size: cover;*/
  font-family: sans-serif; margin: 0;
  /* background-color: #F5CA9E; */

  }


.makefixed{
  position: fixed;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* border-style: solid; border-width: 1px; border-color: black; */
  width: 100%;
}

/*.image {
margin: 0; height: 100%; width: 100%;
}*/
.dropshadowme {
  -webkit-box-shadow: -12px 50px 162px -73px rgba(0,0,0,1);
  -moz-box-shadow: -12px 50px 162px -73px rgba(0,0,0,1);
  box-shadow: -12px 50px 162px -73px rgba(0,0,0,1);
}
nav a{
  color: white;
  text-decoration: none;
}
nav {
  border-style: solid; border-width: 1px; border-color: red;
  padding: 20px;
  text-align: right;
  background-color: crimson;

}
.outfitcard {
  margin-top: 20%;
  margin-left: 10%;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  color: red;

}
#searchArea {
  position: relative;
  top: 0px;
  /*border-style: solid;
  border-weight: 5px;
  border-color: red;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;




}
#formHolder{
  display: inline-block;
  position: relative;
  /*border-style: solid;
  border-width: 5px;
  border-color: red;*/
  margin-left: auto;
  margin-right: auto;
  max-width:300px;
  text-align: center;
  padding: 10px;



}
.inputBox {
  width: 100%;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-style: none;
  -webkit-box-shadow: 10px 10px 27px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 27px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 27px -8px rgba(0,0,0,0.75);
  background-color: crimson;
  color: white;

}
.inputBox:hover {
  opacity: 0.9;
}
.searchButton {
  margin-top: 20%;
  background-color: crimson;
  border-style: none;
  font-size: 40px;
  color: white;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 17px -8px rgba(0,0,0,0.75);
  /* Rotate div */
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
  transform: rotate(-10deg); /* Standard syntax */
}
.bigHeader{
  color: white;;
  font-size: 80px;
  background-color: crimson;
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 17px -8px rgba(0,0,0,0.75);
  /* Rotate div */
  -ms-transform: rotate(-25deg); /* IE 9 */
  -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
  transform: rotate(-25deg); /* Standard syntax */
  max-width:300px;
  margin-left: auto;
  margin-right: auto;

}
img {
  width: 100%;
  height: 100%;
}
.imageContainer {
  /*border-style: solid;
  border-color: white;*/
  background-color: #F5CA9E;;

}
.imagediv {
  display: inline-block;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 17px -8px rgba(0,0,0,0.75);
  margin: 10px;




}
#enquire{

  width: 100%;
  height: 100%;
  color: grey;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  margin-bottom: 10px;
}
#enquireButton{
  background-color: crimson;
  border-style: none;
  height: 40px;
  width: 200px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 10px;


}
::-webkit-input-placeholder { /* WebKit browsers */
  color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #FFF;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #FFF;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #FFF;
}
